@charset "UTF-8";
.navbar {
  background: linear-gradient(90deg, #2d0046, #0a022e);
  padding: 1rem 1.5rem;
  position: sticky;
  margin-top: 20px;
  z-index: 10;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  box-shadow: 0 4px 15px rgba(199, 125, 255, 0.2);
  border-radius: 0 0 30px 0;
  gap: 1rem;
}
.navbar .logo {
  position: absolute;
  top: 20%;
  max-width: 150px;
  max-height: 150px;
  display: block;
  border-radius: 50%;
  z-index: 80;
  box-shadow: 0 4px 15px #C77DFF;
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
.navbar .nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
}
.navbar .nav-links li {
  margin: 0 1rem;
}
.navbar .menu-item a {
  display: inline-flex;
  font-family: "Roboto";
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}
.navbar .menu-item a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.4s ease;
}
.navbar .menu-item a:hover, .navbar .menu-item a.active {
  color: #C77DFF;
}
.navbar .menu-item a:hover::before, .navbar .menu-item a.active::before {
  width: 100%;
  background-color: #C77DFF;
}
.navbar .menu-btn {
  width: 2.8rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  background-color: linear-gradient(90deg, #a993fe -0.13%, #7e61e7 99.87%);
  line-height: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  display: none;
}
.navbar .menu-btn:hover {
  color: #a993fe;
  background: #000;
  border: 1px solid #a993fe;
}
.navbar .login-icon i {
  display: flex;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  width: 40px;
  height: 40px;
}
.navbar .login-icon i:hover {
  color: #a993fe;
}

@media (max-width: 769px) {
  .logo {
    position: relative;
    left: 0;
    margin-top: 30px;
    width: 90px;
  }
  .menu-btn {
    display: block;
    position: fixed;
    z-index: 10000;
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 100;
    background: rgba(32, 4, 48, 0.8);
    color: #fff;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .menu-btn:hover {
    background: rgb(32, 4, 48);
  }
  .navbar {
    border-radius: 0;
  }
  .nav-links {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, #2d0046, #0a022e);
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transition: transform 0.3s ease;
    transform: translateY(100%); /* Masque l'élément hors de la vue */
  }
  .nav-links.open {
    display: flex;
    transform: translateY(); /* Animation d'apparition de la fenêtre */
  }
  .nav-links .menu-item {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  .nav-links .menu-item a {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .nav-links .menu-item a:hover {
    color: #C77DFF;
  }
  .login-icon {
    position: relative;
    left: 100%;
  }
}
/*header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    width: 100%;

    z-index: 10;
}*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin-top: 30%;
  height: 5rem;
  background: rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #2d0046, #0a022e);
  border-radius: 20px 20px 0 0;
}
footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex: 1;
  font-family: "Roboto";
  font-size: 22px;
  position: relative;
  left: 100px;
}
footer .social-links {
  display: flex;
  gap: 10px;
}
footer .social-links a {
  display: flex;
  align-items: center;
  cursor: pointer;
}
footer .social-links a img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}
footer .social-links a img:hover {
  transform: scale(1.1);
}

@media (max-width: 769px) {
  footer p {
    font-size: 15px;
    position: relative;
    left: 0;
  }
  footer .social-links {
    gap: 2px;
  }
  footer .social-links a img {
    width: 30px;
    height: 30px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, #3c015c, #06011a);
  height: 100vh;
  font-family: "Roboto";
}/*# sourceMappingURL=main.css.map */