@import '../../sass/utils/mixins';
@import '../../sass/utils/variables';

.modal-overlay {
    @include center;
    position: fixed;
    min-width: 100%;
    top: 0;
    left: 20;
    right: 20;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal-content {
    @include center;
    display: grid;
    object-fit: cover;
    border: #fff 2px solid;
    background: linear-gradient(90deg, #3c015c, #06011a);   
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    height: 600px;
    width: 90%;

    img {
        @include center;
        object-fit: fill;
        max-width: 100%;
        max-height: 300px;
        border-radius: 20px;
        overflow: hidden;
    }

    h2 {
        @include center;
        font-size: 32px;
        color: #C77DFF ;
    }

    p {
        color: #fff;
    }
}

.close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}